---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=BTC,ETH&key=e1771c50d6fcd1c3a1b8e6f5e37299a849424a22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"59868.08763840","price_date":"2021-10-17T00:00:00Z","price_timestamp":"2021-10-17T20:58:00Z","circulating_supply":"18846575","max_supply":"21000000","market_cap":"1128308403784","market_cap_dominance":"0.4248","num_exchanges":"393","num_pairs":"66507","num_pairs_unmapped":"5168","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63661.66405500","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"35305943198.05","price_change":"-1256.04533252","price_change_pct":"-0.0205","volume_change":"-15868334330.47","volume_change_pct":"-0.3101","market_cap_change":"-23611028429.77","market_cap_change_pct":"-0.0205"},"7d":{"volume":"363263846043.36","price_change":"5035.71867718","price_change_pct":"0.0918","volume_change":"774526909.06","volume_change_pct":"0.0021","market_cap_change":"95259389513.98","market_cap_change_pct":"0.0922"},"30d":{"volume":"1510591343943.27","price_change":"12443.99811367","price_change_pct":"0.2624","volume_change":"-17767479165.17","volume_change_pct":"-0.0116","market_cap_change":"235851962506.82","market_cap_change_pct":"0.2643"},"365d":{"volume":"21569027539453.66","price_change":"48352.75305683","price_change_pct":"4.1990","volume_change":"10859696053134.21","volume_change_pct":"1.0140","market_cap_change":"915043624290.28","market_cap_change_pct":"4.2906"},"ytd":{"volume":"18950047676319.00","price_change":"26987.70236277","price_change_pct":"0.8208","volume_change":"10310708760551.21","volume_change_pct":"1.1935","market_cap_change":"517162556847.53","market_cap_change_pct":"0.8462"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","price":"3715.83441145","price_date":"2021-10-17T00:00:00Z","price_timestamp":"2021-10-17T20:58:00Z"[...]
