---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=BTC,ETH&key=e1771c50d6fcd1c3a1b8e6f5e37299a849424a22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"59794.18567123","price_date":"2021-10-17T00:00:00Z","price_timestamp":"2021-10-17T20:56:00Z","circulating_supply":"18846575","max_supply":"21000000","market_cap":"1126915604817","market_cap_dominance":"0.4246","num_exchanges":"393","num_pairs":"66507","num_pairs_unmapped":"5168","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63661.66405500","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"35185538555.50","price_change":"-1329.94729969","price_change_pct":"-0.0218","volume_change":"-15988738132.10","volume_change_pct":"-0.3124","market_cap_change":"-25003827396.78","market_cap_change_pct":"-0.0217"},"7d":{"volume":"363263846043.36","price_change":"4961.81671001","price_change_pct":"0.0905","volume_change":"774526909.06","volume_change_pct":"0.0021","market_cap_change":"93866590546.96","market_cap_change_pct":"0.0909"},"30d":{"volume":"1510591343943.27","price_change":"12370.09614649","price_change_pct":"0.2608","volume_change":"-17767479165.17","volume_change_pct":"-0.0116","market_cap_change":"234459163539.81","market_cap_change_pct":"0.2627"},"365d":{"volume":"21569027539453.66","price_change":"48278.85108966","price_change_pct":"4.1926","volume_change":"10859696053134.21","volume_change_pct":"1.0140","market_cap_change":"913650825323.27","market_cap_change_pct":"4.2841"},"ytd":{"volume":"18950047676319.00","price_change":"26913.80039560","price_change_pct":"0.8185","volume_change":"10310708760551.21","volume_change_pct":"1.1935","market_cap_change":"515769757880.52","market_cap_change_pct":"0.8439"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","price":"3714.49742629","price_date":"2021-10-17T00:00:00Z","price_timestamp":"2021-10-17T20:56:00Z"[...]
