---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=BTC,ETH,XRP&key=e1771c50d6fcd1c3a1b8e6f5e37299a849424a22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"60052.55208514","price_date":"2021-10-17T00:00:00Z","price_timestamp":"2021-10-17T21:32:00Z","circulating_supply":"18846575","max_supply":"21000000","market_cap":"1131784926814","market_cap_dominance":"0.4251","num_exchanges":"393","num_pairs":"66515","num_pairs_unmapped":"5168","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63661.66405500","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"37424624907.52","price_change":"-809.14019901","price_change_pct":"-0.0133","volume_change":"-11590547278.81","volume_change_pct":"-0.2365","market_cap_change":"-15190546466.27","market_cap_change_pct":"-0.0132"},"7d":{"volume":"364989163970.03","price_change":"5220.18312392","price_change_pct":"0.0952","volume_change":"2499165287.59","volume_change_pct":"0.0069","market_cap_change":"98731471122.37","market_cap_change_pct":"0.0956"},"30d":{"volume":"1512317341418.08","price_change":"12628.46256041","price_change_pct":"0.2663","volume_change":"-16041481690.36","volume_change_pct":"-0.0105","market_cap_change":"239328485537.10","market_cap_change_pct":"0.2682"},"365d":{"volume":"21570753536928.47","price_change":"48537.21750357","price_change_pct":"4.2150","volume_change":"10861422050609.02","volume_change_pct":"1.0142","market_cap_change":"918520147320.56","market_cap_change_pct":"4.3069"},"ytd":{"volume":"18951773673793.81","price_change":"27172.16680951","price_change_pct":"0.8264","volume_change":"10312434758026.02","volume_change_pct":"1.1937","market_cap_change":"520639079877.81","market_cap_change_pct":"0.8519"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","price":"3718.36001027","price_date":"2021-10-17T00:00:00Z","price_timestamp":"2021-10-17T21:32:00Z"[...]
