---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?fields=circulating_supply,max_supply,name,symbol,price&ids=BTC&key=e1771c50d6fcd1c3a1b8e6f5e37299a849424a22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"60174.10574302","price_date":"2021-10-17T00:00:00Z","price_timestamp":"2021-10-17T21:17:00Z","circulating_supply":"18846575","max_supply":"21000000","market_cap":"1134075796944","market_cap_dominance":"0.4255","num_exchanges":"393","num_pairs":"66507","num_pairs_unmapped":"5168","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63661.66405500","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"37248485898.29","price_change":"-687.58654113","price_change_pct":"-0.0113","volume_change":"-11766716645.22","volume_change_pct":"-0.2401","market_cap_change":"-12898519964.38","market_cap_change_pct":"-0.0112"},"7d":{"volume":"364989163970.03","price_change":"5341.73678180","price_change_pct":"0.0974","volume_change":"2499165287.59","volume_change_pct":"0.0069","market_cap_change":"101026782673.99","market_cap_change_pct":"0.0978"},"30d":{"volume":"1512317341418.08","price_change":"12750.01621829","price_change_pct":"0.2689","volume_change":"-16041481690.36","volume_change_pct":"-0.0105","market_cap_change":"241619355666.84","market_cap_change_pct":"0.2707"},"365d":{"volume":"21570753536928.47","price_change":"48658.77116145","price_change_pct":"4.2256","volume_change":"10861422050609.02","volume_change_pct":"1.0142","market_cap_change":"920811017450.30","market_cap_change_pct":"4.3177"},"ytd":{"volume":"18951773673793.81","price_change":"27293.72046739","price_change_pct":"0.8301","volume_change":"10312434758026.02","volume_change_pct":"1.1937","market_cap_change":"522929950007.55","market_cap_change_pct":"0.8557"}}]

'
  recorded_at: Sun, 17 Oct 2021 21:17:50 GMT
recorded_with: VCR 6.0.0
